.breadcrumb {
  display: none;
}

#overviewCollapseButton {
    display: none;
    margin: 0;
    padding: 0;
    color: $gray-smooth;
    border: solid #6c757d 1px;
    border-radius: 20px 0 0 20px;
    background-color: white;
    width: 35px;

    &.overviewCollapsed {
        right: 0;
        top: 166px;
        display: block;
        position: absolute;
        z-index: 100;
        font-size: 20px;
        padding: 5px
    }

    &.overviewCollapsed:hover {
        width: 40px;
        transition: width 0.2s;
    }
}

#overview {
    overflow-y: scroll;
    //display: none;
    position: absolute;
    border: solid black 1px;
    background: $white;
    width: 80vw;
    right: 0;
    z-index: 150;
    top: 165px;

    &.overviewCollapsed {
        display:none;
    }

    & #overviewCloseButton {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 2rem;
        background: transparent;
        border: none;
        margin: 0;
        color: $gray-smooth;
        padding: 0;
    }
}

@media (min-width: 992px){
    #overviewCollapseButton {
        display: none;

        &.overviewCollapsed {
            display: none;
        }
    }

    #overview {
        display: block;
        position: relative;
        width: auto;
        z-index: auto;
        right: auto;
        border: none;
        padding-top: 0;
        top: 0;

        &.overviewCollapsed {
            display: block;
        }

        & #overviewCloseButton {
            display: none;
        }
    }
}

#planningCollapseButton {
    display: none;
    margin: 0;
    padding: 0;
    color: $gray-smooth;
    border: solid #6c757d 1px;
    border-radius: 20px 0 0 20px;
    background-color: white;
    width: 35px;

    &.planningCollapsed {
        right: 0;
        top: 125px;
        display: block;
        position: absolute;
        z-index: 100;
        font-size: 26px;
    }

    &.planningCollapsed:hover {
        width: 40px;
        transition: width 0.2s;
    }
}

#planning {
  overflow-y: scroll;
  //display: none;
  position: absolute;
  border: solid black 1px;
  background: $white;
  width: 70vw;
  right: 0;
  z-index: 150;

  &.planningCollapsed {
    display:none;
  }

  & #planningCloseButton {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2rem;
    background: transparent;
    border: none;
    margin: 0;
    color: $gray-smooth;
    padding: 0;
  }
}

#accounting {
  overflow-y: scroll;
}

@media (min-width: 576px) {
  .breadcrumb {
    display: block;
  }

  #planningCollapseButton {
    display: none;

    &.planningCollapsed {
      display: none;
    }
  }

  #planning {
    display: block;
    position: relative;
    width: auto;
    z-index: auto;
    right: auto;
    border: none;
    padding-top: 0;

    &.planningCollapsed {
      display: block;
    }

    & #planningCloseButton {
      display: none;
    }
  }
}

/* width */
#accounting::-webkit-scrollbar,
#planning::-webkit-scrollbar{
  width: 5px;
  direction:rtl;
}

/* Track */
#accounting::-webkit-scrollbar-track,
#planning::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#accounting::-webkit-scrollbar-thumb,
#planning::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#accounting::-webkit-scrollbar-thumb:hover,
#planning::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#planning .deactivated,
#accounting .deactivated,
#accounting .accounting-element.deactivated .planningElement
{
    background-color: $gray-300;
    cursor: not-allowed;
}

#planning .deactivated .title .negative,
#planning .deactivated .title .positive,
#accounting .deactivated .title .positive,
#accounting .deactivated .title .negative
{
    color: $gray-600 !important;
}
