#cart {
  &.cartAnimation .fa-shopping-cart {
    font-size: 100%;
    animation: cartAnimation 500ms ease forwards;
  }

  @keyframes cartAnimation {
    0% { font-size: 100%}
    20% { font-size: 150%}
    100% { font-size: 100%}
  }

  &.fixed {
    position: fixed;
    border: solid $gray-400 1px;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 10;
  }
}